<div class="about">

  <div class="about__1stcontent">
    <div class="about__1stcontent__left">
      <h1 class="about__1stcontent__left__1stline">
        Meet the music you don't know. more intuitively, more purely.
      </h1>
      <h1 class="about__1stcontent__left__2ndline">
        We initially have a strong curiosity. Being intuitive is the statement that I am focusing on. I designed this web service to make opportunity to meet the music through it's album artworks.
      </h1>
    </div>

    <div class="about__1stcontent__right__image">
      <%=image_tag('crayon.jpeg', width:"350px", height:"350px") %>
      <span class="balloon">
        Artist : <a href="https://open.spotify.com/artist/1byiL1WtteUjvqT6GhlEfh" target= "spotify" id= "artist-name">Crayon</a>&nbsp&nbspAlbum title : <a href="https://open.spotify.com/album/3F5O1nmyRGNHuxPshSsUd5" target= "spotify" id= "album-title">Flee</a>&nbsp&nbsp
      </span>
    </div>
  </div>

  <div class="about__2ndcontent">

    <div class="about__2ndcontent__right__image">
      <%=image_tag('olafurarnalds.jpeg', width:"330px", height:"330px") %>
      <span class="balloon">
        Artist : <a href="https://open.spotify.com/artist/7E3BRXV9ZbCt5lQTCXMTia" target= "spotify" id= "artist-name">Ólafur Arnalds</a>&nbsp&nbsp<br>&nbspAlbum title : <a href="https://open.spotify.com/album/6VxUTTXNiD2fpKfsTznD3L" target= "spotify" id= "album-title">Trance Frendz</a>&nbsp&nbsp&nbsp
      </span>
    </div>

    <div class="about__2ndcontent__left">
      <h1 class="about__2ndcontent__left__1stline">
        Visualization of artworks can expand your preferences.
      </h1>
      <h1 class="about__2ndcontent__left__2ndline">
        It makes you know artists who you have not known before just because your impression for artworks must be connected with your feeling for music. It might be more effective way to select music by using your eyes without a sort of textual data.
      </h1>
    </div>

  </div>

  <div class="about__name">
    made by：<a href="https://www.facebook.com/yuki.agatsuma1" target= "_blank" id="about__name">
    Yuki Agatsuma
    </a>
  </div>

</div>
