<div class="about__content">
（仮）選択肢の多さは皮肉にも、選択したくないモチベーションを高めます。
ありすぎる情報によって思考停止することもあります。
こんな時代に直感で操作できるできることがこれほど注目されているのは、技術の発展というよりかはむしろ、なんだかもうごたごた考えるのがめんどくさくなったからだと思う時があります。
世の中には知らない音楽が山ほどあります。その地域の文化や、民族性、時代背景などの要因によってその内容は自在に変化しますし、その全てを理解し、記憶しようとするのは不可能に近いことです。
好奇心を大切にしながら、もっと純粋に、もっと直感的に作品を知ることができたらいいのになと思い、Dig-By-Picを作りました。
アルバムアートワークにはその音楽性が色濃く反映されていると思います。あなたの直感で、センスで、音楽を探してみてください。

製作者：上妻 優生

</div>

