<div class="about__content">

<!--   <h1 class="about__1stline">
  We initially have a strong curiosity. Being intuitive is the statement that I am focusing on. I designed this web service to make opportunity to meet the music through it's album artworks.
  </h1> -->
<!--   <h1 class="about__2ndline">
    I think visualization of artworks can expand your preferences. It makes you know artists who you have not known before just because your impression for artworks must be connected with your feeling for music. It might be more effective way to select music by using your eyes without a sort of textual data.
  </h1> -->
  <h1 class="about__3rdline">
    Meet the music you don't know. more intuitively, more purely.
  </h1>

  <h1 class="about__4thline">
  好奇心を大切にしながら、もっと純粋に、もっと直感的に作品を知ることができたらいいのになと思い、Dig-By-Picを作りました。
  アルバムアートワークにはその音楽性が色濃く反映されていると思います。あなたの直感で、センスで、音楽を探してみてください。
  </h1>
  <h1 class="about__name">
    made by：<a href="https://www.facebook.com/yuki.agatsuma1" target= "_blank" id="about__name">
    Yuki Agatsuma
    </a>
  </h1>

<!--   <div class="about__image">
    <div class="about__image--1">
      <%=image_tag('dunecrayon.svg', width:"400px", height:"400px") %>
    </div>
  </div> -->

</div>

