.about {
    width: 65%;
    margin: 130px auto 0px;
    font-family: "seravek";
    padding-right: 40px;

  &__1stcontent {
    display: flex;

    &__left {
      margin-top: 65px;


      &__1stline {
        font-size: 29px;
        font-weight: bold;
      }

      &__2ndline {
        font-size: 22px;
        margin-top: 51px;
        opacity: 0.6;
      }
    }

    &__right__image {
      position: relative;
    }

    &__right__image:hover .balloon {
      display: inline;
      opacity: 0.8;
    }

    #artist-name:hover {
      opacity: 0.6;
      text-decoration: underline;
    }

    #album-title:hover {
      opacity: 0.6;
      text-decoration: underline;
    }
  }

  &__2ndcontent {
    display: flex;
    margin-top: 80px;

    &__right__image {
      position: relative;
      margin-right: 40px;
    }

    &__right__image:hover .balloon {
      display: inline;
      opacity: 0.8;
    }

    #artist-name:hover {
      opacity: 0.6;
      text-decoration: underline;
    }

    #album-title:hover {
      opacity: 0.6;
      text-decoration: underline;
    }

    &__left {
      margin-top: 50px;

      &__1stline {
        font-size: 29px;
        font-weight: bold;
      }

      &__2ndline {
        margin-top: 55px;
        font-size: 22px;
        opacity: 0.6;
      }
    }
  }

  &__name {
    font-size: 20px;
    margin-top: 57px;
    margin-bottom: 200px;

     a {
      opacity: 0.6;
     }

     a:hover {
      opacity: 1.0;
      text-decoration: underline;
     }
  }


}


