.inquiry {
  margin: 200px auto;
  width: 70%;
  font-size: 14px;
  opacity: 0.8;

  .page-header {
    margin-bottom: 30px;

    h1 {
      font-weight: bold;
    }
  }

  .table {

    border-spacing: 28px;
    border-collapse: separate;

    #inquiry_name {
      text-indent: 5px;
      width: 700px;
      height: 25px;
      border-radius: 3px 3px 3px 3px;
    }

    #inquiry_email {
      text-indent: 5px;
      width: 700px;
      height: 25px;
      border-radius: 3px 3px 3px 3px;
    }

    #inquiry_message {
      text-indent: 5px;
      border: inset #e9e9e9b0;
      width: 700px;
      height: 200px;
      border-radius: 3px 3px 3px 3px;
    }
  }

  .btn {
    margin-top: 45px;
　　margin-left: 23px;
    width: 120px;
    background-color: gainsboro;
    padding: 6px;
    font-size: 14px;
    border-radius: 3px 3px 3px 3px;
    font-family: 'American Typewriter';
  }

  .back_btn {
    margin-left: 23px;
    width: 120px;
    background-color: gainsboro;
    padding: 7px 44px;
    font-size: 14px;
    border-radius: 3px 3px 3px 3px;
    border: solid #8080804a 0.5px;
    font-family: 'American Typewriter';
  }
}

.thanks {
  margin: 300px auto;
  width: 70%;
  text-align: center;
  font-family: 'American Typewriter';

  p {
    margin-bottom: 30px
  }

  #home {
    color: gray;
  }

  #home:hover {
    color: black;
    cursor: pointer;
  }
}
