.header {
  background-color: none;
  height: 100px;
  line-height: 86px;
  padding: 0 20px;
  margin-left: 40px;
  margin-right: 65px;
  width: 90%;
  z-index: 1;

  position: fixed;
  top: 0px;
  left: 0px;

  &__icon{
    margin-top: -10px;
    float: left;
  }

  &__menu {
    margin-top: 15px;
    display: flex;
    float: left;

    a {
      margin-left: 0px;
      margin-right: 0px;
      color: #ccc;
      font-size: 18px;
    }

    #about {
      margin-left: 25px;
    }


    #login {
      margin-left: 18px;
    }

  }
}

