.show-main {
  margin-top: 110px;
}

.mypage__box {
  display: flex;
  line-height: 30px;
  text-align: center;
  /* width: 171px; */
  height: 30px;
  border-style: solid;
  border-width: 0.5px;
  opacity: 0.95;
  position: fixed;
  bottom: 30px;
  right: 50px;
  font-family: 'American Typewriter';
  z-index: 2;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  background-color: white;
  font-size: 11px;
}

#mypage__topic {
  padding-left: 15px;
}

#edit {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 4px;
  opacity: 0.7;
}

#edit:hover {
  opacity: 0.5;
}

#sign_out {
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 18px;
  opacity: 0.7;
}

#sign_out:hover {
  opacity: 0.5;
}

.log_in {
  margin: 180px auto;
  width: 70%;
  font-size: 14px;
  opacity: 0.8;

  h2 {
    margin-bottom: 30px
  }

  #user_email {
    text-indent: 5px;
    border: inset #e9e9e9b0;
    width: 700px;
    border-radius: 3px 3px 3px 3px;
  }

  #user_password {
    text-indent: 5px;
    border: inset #e9e9e9b0;
    width: 700px;
    border-radius: 3px 3px 3px 3px;
  }

  .actions {
    margin-top: 15px;
  }

  .links {
    margin-top: 30px;
  }

}

.sign_up {
  margin: 180px auto;
  width: 70%;
  font-size: 14px;
  opacity: 0.8;

  h2 {
    margin-bottom: 30px;
  }

  .field {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #user_name {
    text-indent: 5px;
    border: inset #e9e9e9b0;
    width: 700px;
    border-radius: 3px 3px 3px 3px;
  }

  #user_email {
    text-indent: 5px;
    border: inset #e9e9e9b0;
    width: 700px;
    border-radius: 3px 3px 3px 3px;
  }

  #user_password {
    text-indent: 5px;
    border: inset #e9e9e9b0;
    width: 700px;
    border-radius: 3px 3px 3px 3px;
  }

  #user_password_confirmation {
    text-indent: 5px;
    border: inset #e9e9e9b0;
    width: 700px;
    border-radius: 3px 3px 3px 3px;
  }

  .actions {
    margin-top: 15px;
  }

  .links {
    margin-top: 10px;
  }
}

.edit {
  margin: 180px auto;
  width: 70%;
  font-size: 14px;
  opacity: 0.8;

  .field {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #user_name {
    text-indent: 5px;
    border: inset #e9e9e9b0;
    width: 700px;
    border-radius: 3px 3px 3px 3px;
  }

  #user_email {
    text-indent: 5px;
    border: inset #e9e9e9b0;
    width: 700px;
    border-radius: 3px 3px 3px 3px;
  }

  #user_password {
    text-indent: 5px;
    border: inset #e9e9e9b0;
    width: 700px;
    border-radius: 3px 3px 3px 3px;
  }

  #user_password_confirmation {
    text-indent: 5px;
    border: inset #e9e9e9b0;
    width: 700px;
    border-radius: 3px 3px 3px 3px;
  }

  #user_current_password {
    text-indent: 5px;
    border: inset #e9e9e9b0;
    width: 700px;
    border-radius: 3px 3px 3px 3px;
  }

  .actions {
    margin-top: 15px;
  }

  .links {
    margin-top: 10px;
  }

  p {
    margin-top: 15px;
  }

}






